.mdl-grid div {
  /* border: solid; */
  text-align: center;
}

.mdl-layout-title {
  background-color: rgb(139, 195, 74);
}

.mdl-card__title-text {
  font-size: 1em;
}

.mdl-card__media {
  padding: 10px;
  background: white;
}

.mdl-card__media img {
  border-radius: 50%;
}

.question-card {
  width: 100%;
}

.mdl-layout-title {
  font-size: 1.1em;
}

div.mdl-layout__header-row > button:nth-child(2) {
  left: 20%;
}

div.mdl-layout__header-row > button:nth-child(2) {
  /* margin-left: 30%; */
  background-color: darkgreen;
}

div.mdl-layout__header-row > button:nth-child(3) {
  visibility: hidden;
}

@media only screen and (min-width: 600px) {

  div.mdl-layout__header-row > button:nth-child(2) {
    left: 50%;
  }

  div.mdl-layout__header-row > button:nth-child(3) {
    visibility: visible;
    left: 55%;
  }
}

@media only screen and (min-width: 992px) {

  div.mdl-layout__header-row > button:nth-child(2) {
    left: 71%;
  }

  div.mdl-layout__header-row > button:nth-child(3) {
    visibility: visible;
    left: 73%;
  }

  .mdl-layout-title {
    font-size: 1.5em;
  }

  #new_question_modal > div > form > div {
    display: block;
    margin: auto;
  }

  .new_question_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
  }

  .modal_content {
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  form > div.mdl-textfield {
    width: 800px;
  }

  .modal_header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  div.modal_header h2.mdl-dialog__title {
    padding: 10px 10px;
  }

  #modal_enviar {
    margin: 1% 0 0 80%;
    background-color: rgb(92, 184, 92)
  }

}
