div > img {
  width: 36px;
  height: 36px;
}

.mdl-grid {
  min-height: 55vh;
}

.mdl-layout-title {
  background-color: rgb(139, 195, 74);
}

.mdl-card__title-text {
  font-size: 1em;
}

.mdl-card__media {
  padding: 10px;
  background: white;
}

.mdl-card__media img {
  border-radius: 50%;
}

.question-card {
  width: 100%;
}

#responder_perguta_button {
  margin: 2vh auto;
}

#sem_respostas {
  display: block;
  margin: 0 0 auto auto;
}

.mdl-card {
  z-index: 0;
}

.mdl-card:hover {
  cursor: pointer;
}

.mdl-layout-title {
  font-size: 1.1em;
}

#new_question_button {
  margin-right: 2em;
}

#login_button {
  margin-bottom: 1em;
  min-width: 300px;
  background-color: #8bc34a;
}

#close_new_question {
  position: absolute;
  right: 120px;
  top: 85px;
}

#show_header {
  display: block;
}

.mdl-layout__header {
  display: block;
  background-color: black;
}

div.mdl-layout__header-row > button:nth-child(2) {
  background-color: #8bc34a;
}

div.mdl-layout__header-row > button:nth-child(3) {
  visibility: hidden;
}

#mdl-card-actions {
  text-align: right;
  padding-right: 2em;
}

#mdl-card-question-text {
  min-height: 35vh;
  text-align: left;
  margin-top: 2vh;
  margin-left: 2vh;
}

.bg-light-green {
  background-color: rgb(139, 195, 74);
}

.bg-light-green:hover {
  background-color: rgb(0, 150, 136);
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.margin-left-2vh {
  margin-left: 2vh;
}

.no-text-decoration {
  text-decoration: none;
}

.min-height-14-vh {
  min-height: 14vh;
}

.link-color-black {
  color: black;
}

.mdl-mini-footer {
  background-color: #8bc34a;
  color: black;
  position: relative;
  /* width: 100%; */
  bottom: 0;
}

.new_question_modal, .login_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
}

#user-chip {
  display: none;
}

.mdl-layout__header {
    display: block;
}

@media only screen and (min-width: 600px) {

  div.mdl-layout__header-row > button:nth-child(3) {
    visibility: visible;
    /* left: 55%; */
  }

  .mdl-layout__header {
      display: block;
  }

  #user-chip {
    background-color: #8bc34a;
    display: block;
  }

}

@media only screen and (min-width: 992px) {

  #user-chip {
    background-color: #8bc34a;
    display: block;
  }

  div.mdl-layout__header-row > button:nth-child(3) {
    visibility: visible;
    /* left: 73%; */
  }

  .mdl-layout-title {
    font-size: 1.5em;
  }

  #new_question_modal > div > form > div {
    display: block;
    margin: auto;
  }

  #new_question_button {
    margin-right: 2em;
  }

  .new_question_modal, .login_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
  }

  .login_modal {
    top: 64px;
  }

  .login_modal_content {
    background-color: #fefefe;
    margin: 2em auto;
    border: 1px solid #888;
    width: 40%;
    padding: 2em;
    text-align: center;
  }

  .close {
    position: absolute;
    right: 385px;
    top: 30px;
    color: #8bc34a;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover {
    color: black;
    cursor: pointer;
  }

  .modal_content {
    background-color: #FEFEFE;
    margin: 5% auto;
    padding: 3em;
    border: 1px solid #888;
    width: 80%;
  }

  form > div.mdl-textfield {
    width: 800px;
  }

  .modal_header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  div.modal_header h2.mdl-dialog__title {
    padding: 10px 10px;
  }

  #modal_enviar {
    margin: 1% 0 0 80%;
    background-color: rgb(92, 184, 92)
  }

  .mdl-mini-footer {
    background-color: #8bc34a;
    color: black;
    position: relative;
    /* width: 100%; */
    bottom: 0;
  }

  .mdl-grid {
    margin-bottom: 20px;
  }

  div > img {
    width: 36px;
    height: 36px;
  }

  .mdl-mini-footer__social-btn {
    background-color: #8bc34a;
    margin: auto;
  }

  .mdl-mini-footer__social-btn:hover {
    cursor: pointer;
  }

  .mdl-logo > img {
    width: 100px;
    height: 128px;
  }

  .mdl-mini-footer__middle-section {
    text-align: center;
    width: 33%;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    letter-spacing: .02em;
    font-size: 1.1em;
  }

  .mdl-mini-footer__left-section {
    text-align: center;
    width: 33%;
  }

  .mdl-mini-footer__right-section {
    text-align: center;
    width: 33%;
  }

  .mdl-cell > a {
    text-decoration: none;
  }

  .question-card-details {
    margin: auto;
    width: 50%;
    min-height: 10%;
  }

}

@media only screen and (max-width: 1024px) {

  .mdl-layout__header {
    display: block;
  }
}
