{% extends "timetable/base.html" %}

{% block conteudo %}
   {% if form.errors %}
    <p>Erro de usuário ou senha</p>
   {% endif %}

   <!-- <form class="login_form" method="post" action="{% url 'login' %}">
     {% csrf_token %}
        <!-- <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" /> -->
        <div class="container">
          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="id_username">Usuário</label>
            <input class="mdl-textfield__input" id="id_username" type="text"
            name="username" />
          </div>
          <br />
          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="{{  form.password.name }}">
              Senha
            </label>
            <input class="mdl-textfield__input" id="id_{{ form.password.name }}"
            type="password" name="password" />
          </div>
          <br />
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
   </form> -->
{% endblock %}
