{% extends "timetable/base.html" %}

{% block header %}
  <div class="mdl-layout-spacer"></div>
{% endblock %}

{% block conteudo %}
   {% if form.errors %}
     <h5>Erro de usuário ou senha</h5>
   {% endif %}

   <form class="login_form" method="post" action="{% url 'login' %}">
     {% csrf_token %}
        <div class="container login_modal_content">
          <div class="modal_header">
            <h2 class="mdl-dialog__title">Entrar</h2>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="id_username_login">Usuário</label>
            <input class="mdl-textfield__input" id="id_username_login" type="text"
            name="username" />
          </div>
          <br />
          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="id_{{  form.password.name }}_login">
              Senha
            </label>
            <input class="mdl-textfield__input" id="id_{{ form.password.name }}_login"
            type="password" name="password" />
          </div>
          <br />
          <button class="mdl-button mdl-js-button
          mdl-js-ripple-effect mdl-button--raised login_button" type="submit">
          Login
          </button>
          <div>
            <span>Esqueceu a <a href="{% url 'password_reset' %}">senha?</a></span><br />
            <span>Não possui uma conta? <a href="{% url 'signup' %}">Criar nova conta</a></span>
          </div>
        </div>
   </form>
{% endblock %}
