{% extends "timetable/base.html" %}

{% block conteudo %}
  <h3>Defina uma nova senha</h3>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="mdl-textfield mdl-js-textfield reset-fields">
      <label class="mdl-textfield__label" for="id_new_password1">
        Nova senha
      </label>
      <input id="id_new_password1" type="password" name="new_password1"
      class="mdl-textfield__input" required>
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield reset-fields">
      <label class="mdl-textfield__label" for="id_new_password2">
        Confirme a nova senha
      </label>
      <input id="id_new_password2" type="password" name="new_password2"
      class="mdl-textfield__input" required>
    </div>
    <br />
    <input class="mdl-button mdl-js-button mdl-button--raised
    mdl-js-ripple-effect mdl-button--accent" type="submit" value="Mudar senha">
  </form>
{% endblock %}
