{% extends "timetable/base.html" %}

{% block header %}
  Alterar senha
{% endblock %}

{% block conteudo %}
  <h3>Esqueceu a senha?</h3>
  <p>
    Digite seu e-mail abaixo e você receberá as instruções para definir uma
    nova senha
  </p>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div id="div_id_email" class="mdl-textfield mdl-js-textfield">
      <label class="mdl-textfield__label" for="id_email">E-mail</label>
      <input class="mdl-textfield__input" id="id_email" type="email"
      name="email" required>
    </div>
    <input class="mdl-button mdl-js-button mdl-button--raised
    mdl-js-ripple-effect mdl-button--accent" type="submit" value="Enviar">
  </form>
{% endblock %}
