{% load static %}

<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.light_green-indigo.min.css" />
    <link rel="stylesheet" href="{% static 'css/questions_and_answers.css' %}"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="{% static 'javascript/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'javascript/nova_pergunta.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Pergunte para o IFSC</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Perguntas & Respostas</span>
          <div class="mdl-layout-spacer"></div>
          <button id="new_question_button" class="mdl-button mdl-js-button
          mdl-js-ripple-effect mdl-button--raised">
            <i class="material-icons">add</i>
          </button>
          {% if user.is_anonymous %}
            <button class="mdl-button mdl-js-button
            mdl-js-ripple-effect mdl-button--raised"
            onclick="document.getElementById('login_modal').style.display='block'">
              Login
            </button>
          {% endif %}
          {% if user.is_authenticated %}
          <!-- user.is_staff -->
            <span class="mdl-chip" id="user-chip">
              <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
                {{ user.username.0 }}
              </span>
              <span class="mdl-chip__text">{{ user.username }}
                <!-- <small>(<a href="{% url 'logout' %}">Sair</a>)
                </small> -->
                <button type="button" class="mdl-chip__action" id="user_actions">
                  <i class="material-icons">
                    arrow_drop_down
                  </i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect"
                for="user_actions">
                  <a href="{% url 'logout' %}"><li class="mdl-menu__item">Sair</li></a>
                  <li class="mdl-menu__item">Alterar senha</li>
                </ul>
              </span>
            </span>
          {% endif %}
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Outras áreas</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Infraestrutura</a>
          <a class="mdl-navigation__link" href="">Pedagógico</a>
          <a class="mdl-navigation__link" href="">Transparência</a>
          <a class="mdl-navigation__link" href="">PAEVS</a>
          <a class="mdl-navigation__link" href="/horarios">Horários</a>
          <div class="mdl-layout--small-screen-only">
            <a class="mdl-navigation__link" href="">
              Login
            </a>
          </div>
        </nav>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="mdl-grid">
      {% block question_cards %}{% endblock %}
      {% block details %}{% endblock %}
    </div>

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
          <img src="{% static "images/canoinhas_vertical_marca.png" %}" alt="">
        </div>
      </div>
      <div class="mdl-mini-footer__middle-section">
        Instituto Federal de Santa Catarina<br />Campus Canoinhas
        <br />Av. Expedicionários, 2150 - Bairro Campo da Água Verde<br />
        CEP 89466-312
      </div>
      <div class="mdl-mini-footer__right-section">
        <a class="mdl-navigation__link"
        href="https://www.youtube.com/user/ifsccomunicacao" target="_blank">
          <div class="mdl-mini-footer__social-btn">
            <img src="{% static "images/youtube_social_squircle_red.png" %}"
            alt="Youtube logo. Link para IFSC TV">
          </div>
        </a>
      </div>
    </footer>

    <!--  New Question modal form -->
    <div id="new_question_modal" class="new_question_modal">
      <span onclick="document.getElementById('new_question_modal').style.display='none'"
      class="close" id="close_new_question">
        &times;
      </span>
      <div class="modal_content">
        <div class="modal_header">
          <h2 class="mdl-dialog__title">Nova pergunta</h2>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="id_{{ form.title.name }}">
              Título
            </label>
            {{ form.title }}
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="id_{{ form.text.name }}">
              Faça sua pergunta
            </label>
            {{ form.text }}
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised
          mdl-js-ripple-effect mdl-button--accent" id="modal_enviar"
          type="submit">
            Enviar
          </button>
        </form>
        </div>
      </div>

      <div id="login_modal" class="login_modal">
        <span onclick="document.getElementById('login_modal').style.display='none'"
        class="close">
          &times;
        </span>
        <form class="login_form" method="post" action="{% url 'login' %}">
          {% csrf_token %}
             <div class="container login_modal_content">
               <div class="modal_header">
                 <h2 class="mdl-dialog__title">Entrar</h2>
               </div>
               <div class="mdl-textfield mdl-js-textfield">
                 <label class="mdl-textfield__label" for="id_username">Usuário</label>
                 <input class="mdl-textfield__input" id="id_username" type="text"
                 name="username" />
               </div>
               <br />
               <div class="mdl-textfield mdl-js-textfield">
                 <label class="mdl-textfield__label" for="{{  form.password.name }}">
                   Senha
                 </label>
                 <input class="mdl-textfield__input" id="id_{{ form.password.name }}"
                 type="password" name="password" />
               </div>
               <br />
               <button id="login_button" class="mdl-button mdl-js-button
               mdl-js-ripple-effect mdl-button--raised" type="submit">
               Login
               </button>
               <div>
                 <span>Esqueceu a <a href="{% url 'password_reset' %}">senha?</a></span><br />
                 <span>Não possui uma conta? <a href="{% url 'signup' %}">Criar nova conta</a></span>
               </div>
             </div>
        </form>
        <script src=" {% static 'javascript/login_modal_exit.js' %}">
        </script>
      </div>
      <!-- <script src="{% static 'javascript/nova_pergunta.js' %}"></script> -->
      <!-- <br /> -->
  </body>
</html>
