{% extends 'questions_and_answers/base.html' %}

<!-- Questions cards -->
{% block question_cards %}
  {% for user_question in users_questions %}
  <div class="mdl-cell">
    <div class="question-card mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--border">
          {% if user_question.author == None %}
            <div class="mdl-card__title-text">
              {{ user_question.title }} - Anônimo
            </div>
          {% else %}
            <div class="mdl-card__title-text">
              {{ user_question.title }} - {{ user_question.author }}
            </div>
          {% endif %}
        </div>
        <div class="mdl-card__subtitle-text margin-left-2vh min-height-14-vh">
          {{ user_question.text }}
        </div>
        <div class="mdl-card__actions mdl-card--border text-align-right">
          <button id="demo-menu-top-right-{{ user_question.pk}}"
            class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--top-right mdl-js-menu
            mdl-js-ripple-effect"
            data-mdl-for="demo-menu-top-right-{{ user_question.pk}}">
            <a class="no-text-decoration link-color-black"
              href="{% url 'detalhes_pergunta' pk=user_question.pk %}">
              <li class="mdl-menu__item">Responder</li>
            </a>
            <a class="no-text-decoration link-color-black"
              href="{% url 'deleta_questao' pk=user_question.pk %}">
              <li class="mdl-menu__item">Deletar</li>
            </a>
          </ul>
        </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
<script type="text/javascript">
  function relativeFooter() {
    document.getgetElementsByClassName("mdl-mini-footer").style.position = "relative"
  }
</script>
