{% load static %}

<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.light_green-indigo.min.css" />
    <link rel="stylesheet" href="{% static 'css/questions_and_answers.css' %}"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Pergunte para o IFSC</title>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Perguntas & Respostas</span>
          <!-- Add spacer, to align navigation to the right -->
          <button id="new_question_button" class="mdl-button mdl-js-button
          mdl-js-ripple-effect mdl-button--raised">
            <i class="material-icons">add</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Login
          </button>
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Outras áreas</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Infraestrutura</a>
          <a class="mdl-navigation__link" href="">Pedagógico</a>
          <a class="mdl-navigation__link" href="">Transparência</a>
          <a class="mdl-navigation__link" href="">PAEVS</a>
          <div class="mdl-layout--small-screen-only">
            <a class="mdl-navigation__link" href="">
              Login
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- grid below -->
    <br />
    <br />
    <br />
    <br />
    <div class="mdl-grid">
      <!-- <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--4dp">
          <div class="mdl-card__media">
            <img src="{% static "images/campus-canoinhas-ifsc.jpg" %}"
            width="170" height="150" alt="Alo">
          </div>
          <div class="mdl-card__title mdl-cell--stretch">
            <p class="mdl-card__title-text">
              Colocar informações relevantes de contato aqui
            </p>
          </div>
        </div>
      </div> -->
      <div class="mdl-cell">
        <div class="question-card mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title">
            <p class="mdl-card__title-text">Anônimo</p>
          </div>
          <p class="mdl-card__subtitle-text">
            Por que os preços da cantina são tão caros?
          </p>
        </div>
      </div>
      <div class="mdl-cell">
        <div class="question-card mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title">
            <p class="mdl-card__title-text">Anônimo</p>
          </div>
          <p class="mdl-card__subtitle-text">
            Another question
          </p>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--8-col">
      </div>
    </div>
    <div id="new_question_modal" class="new_question_modal">
      <div class="modal_content">
        <div class="modal_header">
          <h2 class="mdl-dialog__title">Nova pergunta</h2>
        </div>
        <form action="#">
          <br />
          <br />
          <div class="mdl-textfield mdl-js-textfield">
            <input type="text" id="question_title" class="mdl-textfield__input">
            <label class="mdl-textfield__label" for="question_title">Título</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <textarea id="question_text" class="mdl-textfield__input" type="text"
            rows="3"></textarea>
            <label class="mdl-textfield__label" for="question_text">
              Faça sua pergunta!
            </label>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised
          mdl-js-ripple-effect mdl-button--accent" id="modal_enviar">
            Enviar
          </button>
        </form>

        </div>
      </div>
    </div>
  </body>
  <script>
    let modal = document.getElementById("new_question_modal");
    let nqbtn = document.getElementById("new_question_button");
    let close_button = document.getElementsByClassName("close")[0];

    nqbtn.onclick = function() {
      modal.style.display = "block";
    }

    // close_button.onclick = function () {
    //   modal.style.display = "none";
    // }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  </script>
</html>
