{% extends 'questions_and_answers/base.html' %}

<!-- Questions cards -->
{% block question_cards %}
<div class="mdl-grid">
  {% for user_question in users_questions %}
  <div class="mdl-cell">
    <div class="question-card mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <p class="mdl-card__title-text">{{ user_question.title }} - {{ user_question.author }}</p>
      </div>
      <p class="mdl-card__subtitle-text">
        {{ user_question.text }}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
