{% extends 'timetable/base.html' %}

{% block header %}
  <span class="mdl-layout__title">Horários</span>
{% endblock %}

{% block conteudo %}
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Horário</th>
        <th class="mdl-data-table__cell--non-numeric">Segunda-feira</th>
        <th class="mdl-data-table__cell--non-numeric">Terça-feira</th>
        <th class="mdl-data-table__cell--non-numeric">Quarta-feira</th>
        <th class="mdl-data-table__cell--non-numeric">Quinta-feira</th>
        <th class="mdl-data-table__cell--non-numeric">Sexta-feira</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          07:45 - 08:40
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
