{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script> -->
    <link rel="stylesheet"
      href="{% static 'css/material.min.css' %}" />
    <script src="{% static 'javascript/material.min.js' %}"></script>
    <script src="{% static 'javascript/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'javascript/novo_curso.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
    <title>Horários</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
          <a href="#">
            <i class="material-icons">menu</i>
          </a>
        </div>
        <div class="mdl-layout__header-row">
          {% block header %}{% endblock %}
          <!-- <div class="mdl-layout-spacer"></div> -->
          {% if user.is_anonymous %}
            <button id="login_button" class="mdl-button mdl-js-button
            mdl-js-ripple-effect mdl-button--raised"
            onclick="document.getElementById('login_modal').style.display='block'">
              Login
            </button>
          {% endif %}
          {% if user.is_authenticated %}
            <span class="mdl-chip">
              <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
                {{ user.username.0 }}
              </span>
              <span class="mdl-chip__text">{{ user.username }}
                <!-- <small>(<a href="{% url 'logout' %}">Sair</a>)
                </small> -->
                <button type="button" class="mdl-chip__action" id="user_actions">
                  <i class="material-icons">
                    arrow_drop_down
                  </i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect"
                  for="user_actions">
                  <a href="{% url 'logout' %}">
                    <li class="mdl-menu__item">Sair</li>
                  </a>
                  <a href="{% url 'reseta_senha' %}">
                    <li class="mdl-menu__item">Alterar senha</li>
                  </a>
                </ul>
              </span>
            </span>
          {% endif %}
        </div>
        {% block tabs_cursos %}{% endblock %}
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Horários</span>
        <nav class="mdl-navigation">
         <div class="mdl-layout--small-screen-only">
           <a class="mdl-navigation__link" href="{% url 'login' %}">
             Login
           </a>
         </div>
         <a href="{% url 'home' %}" class="mdl-navigation__link">Início</a>
         <a href="{% url 'cursos' %}" class="mdl-navigation__link">Cursos</a>
         <a href="{% url 'professores' %}" class="mdl-navigation__link">
           Professores
         </a>
         <a href="{% url 'unidades_curriculares' %}" class="mdl-navigation__link">
           Unidades Curriculares
         </a>
         <a href="/perguntas" class="mdl-navigation__link">
           Perguntas e Respostas
         </a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        {% block conteudo %}{% endblock %}
      </main>
      {% block form %}{% endblock %}
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            <img src="{% static "images/canoinhas_vertical_marca.png" %}" alt="">
          </div>
        </div>
        <div class="mdl-mini-footer__middle-section">
          Instituto Federal de Santa Catarina<br />Campus Canoinhas
          <br />Av. Expedicionários, 2150 - Bairro Campo da Água Verde<br />
          CEP 89466-312
        </div>
        <div class="mdl-mini-footer__right-section">
          <a class="mdl-navigation__link"
          href="https://www.youtube.com/user/ifsccomunicacao" target="_blank">
            <div class="mdl-mini-footer__social-btn">
              <img src="{% static "images/youtube_social_squircle_red.png" %}"
              alt="Youtube logo. Link para IFSC TV">
            </div>
          </a>
        </div>
      </footer>
    </div>
    <div id="login_modal" class="login_modal">
      <form class="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
           <div class="container login_modal_content">
             <div class="close-container">
               <span onclick="document.getElementById('login_modal').style.display='none'"
               class="close">
                 &times;
               </span>
             </div>
             <div class="modal_header">
               <h2 class="mdl-dialog__title">Entrar</h2>
             </div>
             <div class="mdl-textfield mdl-js-textfield">
               <label class="mdl-textfield__label" for="id_username">Usuário</label>
               <input class="mdl-textfield__input" id="id_username" type="text"
               name="username" />
             </div>
             <br />
             <div class="mdl-textfield mdl-js-textfield">
               <label class="mdl-textfield__label" for="{{  form.password.name }}">
                 Senha
               </label>
               <input class="mdl-textfield__input" id="id_{{ form.password.name }}"
               type="password" name="password" />
             </div>
             <br />
             <button class="mdl-button mdl-js-button
             mdl-js-ripple-effect mdl-button--raised login_button" type="submit">
             Login
             </button>
             <div>
               <span>Esqueceu a <a href="{% url 'password_reset' %}">senha?</a></span><br />
               <span>Não possui uma conta? <a href="{% url 'signup' %}">Criar nova conta</a></span>
             </div>
           </div>
      </form>
      <script src=" {% static 'javascript/login_modal_exit.js' %}">
      </script>
    </div>
    {% block script %}
    {% endblock %}
  </body>
</html>
