{% extends 'timetable/base.html' %}

{% block header %}
  <span class="mdl-layout__title">Professores</span>
  <button id="novo_professor_button" class="mdl-button mdl-js-button
  mdl-js-ripple-effect mdl-button--raised">
    <i class="material-icons">add</i>
  </button>
{% endblock %}

{% block conteudo %}
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
  id="table-professores">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          Professor <br />
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon"
              for="filtra_professor">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" id="filtra_professor"
                type="text">
                <label class="mdl-textfield__input" for="filtro"></label>
            </div>
          </div>
        </th>
        <th>Unidades Curriculares</th>
        <th>Cursos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for professor in professores %}

        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ professor.nome }}</td>
          <td class="mdl-data-table__cell--non-numeric">
            {% for uc in lista_unidades_curriculares %}
            <!-- {{ uc.professor.pk }} -->
              {% if uc.professor.pk == professor.pk %}
                {{ uc.nome }} <br />
              {% endif %}
            {% endfor %}
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            {% for uc in lista_unidades_curriculares %}
              {% if uc.professor.pk == professor.pk %}
                {{ uc.curso }} <br />
              {% endif %}
            {% endfor %}
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="{% url 'deleta_professor_confirmacao' pk=professor.pk %}"
            class="mdl-button mdl-js-button mdl-js-ripple-effect
            mdl-button--raised "
            id="deleta_professor_button">
              <i class="material-icons">delete</i>
            </a>
            <a href="{% url 'editar_professor' pk=professor.pk %}"
            class="mdl-button mdl-js-button mdl-js-ripple-effect
            mdl-button--raised "
            id="deleta_professor_button">
              <i class="material-icons">edit</i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--  Novo professor modal form -->
  <!-- TODO: ajustar css do modal, icone de fechar esta fora da janela -->
  <!-- TODO: remove onclick do span e utilizar jquery -->
  <div id="novo_professor_modal" class="novo_professor_modal">
    <span onclick="document.getElementById('login_modal').style.display='none'"
    class="close">
      &times;
    </span>
    <div class="modal_content">
      <div class="modal_header">
        <h2 class="mdl-dialog__title">Cadastrar novo professor</h2>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="id_{{ form.nome.name }}">
            Nome
          </label>
          {{ form.nome }}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised
        mdl-js-ripple-effect mdl-button--accent" id="modal_enviar"
        type="submit">
          Cadastrar
        </button>
      </form>
      </div>
    </div>

{% endblock %}
