.mdl-layout__header > .mdl-layout-icon {
  padding-top: 5px;
}

.mdl-layout-icon > a {
  color: rgb(66,66,66);
}

.mdl-mini-footer {
  background-color: #8bc34a;
  color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mdl-mini-footer__social-btn {
  background-color: #8bc34a;
}

.mdl-mini-footer__social-btn:hover {
  cursor: pointer;
}

.mdl-logo > img {
  width: 100px;
  height: 128px;
}

.mdl-mini-footer__middle-section {
  text-align: center;
  width: 33%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  letter-spacing: .02em;
  font-size: 1.1em;
}

.mdl-mini-footer__left-section {
  text-align: center;
  width: 33%;
}

.mdl-mini-footer__right-section {
  text-align: center;
  width: 33%;
}

button > img {
  width: 36px;
  height: 36px;
}
